.c-navigation-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.4s ease;
  padding: 12px 0 24px 0;

  .container {
    @include clearfix;
  }

  .navbar-logo {
    float: left;
    img {
      width: 350px;
      // transform: scale(1.1);
    }
    .logo-image {
      display: block;
    }
    .logo-image-fixed {
      display: none;
    }
  }

  .navbar-menu {
    float: right;
    padding-top: 8px;
    padding-bottom: 12px;
    .content-item {
      display: inline-block;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: white;
      }
    }
  }

  // &.active {

  // }

  //For FIXED Navbar
  &.on-scroll {
    color: black;
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 12px 0 12px 0;
    .navbar-logo {
      img {
        // transform: scale(1);
      }
      .logo-image {
        display: none;
      }
      .logo-image-fixed {
        display: block;
      }
    }
    .navbar-menu {
      padding-top: 6px;
      padding-bottom: 6px;
      @include small {
        padding-top: 10px;
      }
      .content-item a{
        color: black;
      }
    }
  }
}
