div(class='c-navigation-bar on-scroll')
  .container
    .navbar-logo
      a(class='logo-image' href='.')
        img(src="/assets/images/logo/navbar-logo.png" alt="navbar-logo")
      a(class='logo-image-fixed' href='.') 
        img(src="/assets/images/logo/logo-fixed.svg" alt="navbar-logo-fixed")
    .navbar-menu
      ul.menu-content
        li.content-item
           a(class='active' href='/Home') Home
        li.content-item
          a(href='/Product') Our Product
        li.content-item
          a(href='/About-Us') About Us
