div(class='c-navigation-bar on-scroll')
  .container
    .navbar-logo
      a(class='logo-image' href='.')
        img(src="/assets/images/logo/navbar-logo.png" alt="navbar-logo")
      a(class='logo-image-fixed' href='.') 
        img(src="/assets/images/logo/navbar-logo-sticky.png" alt="navbar-logo-fixed")
    .navbar-menu
      a(class='active' href='/Home') Home
      a(href='/Product') Our Product
      a(href='/About-Us') About Us
